{% extends "base_openscc.html" %}

{% load submission_extras %}

{% block mainContent %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Sigla</th>
                <th scope="col">Nome</th>
                <th scope="col">Abertura das inscrições</th>
                <th scope="col">Fechamento inscrições</th>
                <th scope="col">Data do evento</th>
                <th scope="col">Inscrição</th>
                <th scope="col">Submissão</th>
            </tr>
        </thead>
        <tbody>
            {% for c in conferenciaList %}
                <tr>
                    <td><img src="{{ c.logo.url}}" alt="Conference logo" class="logoHeader"></td>
                    <td>{{ c.sigla }}</td>
                    <td>{{ c.nome }}</td>
                    <td>{{ c.submissaoOpen }}</td>
                    <td>{{ c.submissaoClose }}</td>
                    <td>De {{ c.dataEventoInicio }} até {{ c.dataEventoFim }}</td>
                    <td><a href="{% url 'submission:conferencia' slug=c.slug %}" class="btn btn-primary"><i class="fas fa-calendar-check"></i></a></td>
                    <td><a href="{% url 'submission:paginaSubmissao' slug=c.slug %}" class="btn btn-primary"><i class="fas fa-file-upload"></i></a></td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>
{% endblock %}