{% extends "base_openscc.html" %}
{% load static %}
{% block mainContent %}

  <div class="d-flex align-items-center py-4 bg-body-tertiary">    
  <div class="form-signin m-auto align-items-center">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p>Sua senha ou usuário não foram encontradas no sistema.</p>
    </div>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <div class="alert alert-danger" role="alert">
        <p>Sua conta não possui permissão para visualizar essa página.</p>
      </div>
      {% else %}
      <div class="alert alert-primary" role="alert">
        <p>Por favor faça o login para visualizar essa página.</p>
      </div>
      {% endif %}
  {% endif %}
    <form method="post" action="{% url 'submission:login' %}">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'media/images/logo_openscc.png' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 font-weight-normal">Por favor faça o login</h1>
      <div class="form-floating">        
        <input type="text" id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" type="text" class="form-control" placeholder="usuário">
        <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;" data-lastpass-icon-root=""></div>
        <label for="{{form.username.id_for_label}}">Usuário</label>
      </div>
      <div class="form-floating">        
        <input id="{{form.password.id_for_label}}" name="{{form.password.html_name}}" type="password" class="form-control" placeholder="Senha">
        <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;" data-lastpass-icon-root=""></div>
        <label for="{{form.password.id_for_label}}">Senha</label>
      </div>
      <div class="form-check text-start my-3">
        <p class="mb-1">Não se cadastrou ainda? <a href="{% url 'submission:createUser'%}">Clique Aqui</a></p>
        <p class="text-end"><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
  {# Assumes you set up the password_reset view in your URLconf #}  

{% endblock %}