{% extends "base_openscc.html" %}

{% block FooterbrandImage %}
<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="{{ conf.logo.url}}" alt="Conference logo" class="logoHeader">    
</a>
{% endblock %}

{% block brandImage %}
<img src="{{ conf.logo.url}}" alt="Conference logo" class="logoHeader">
{% endblock %}

{% block mainContent %}
<div class="container">
    <h1>Submissão de Trabalhos</h1>
    
    <p>{{ conf.conteudoHtml|safe }}</p>
    {% if hoje >= conf.submissaoOpen and hoje <= conf.submissaoClose %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'submission:submissionForm' slug=conf.slug %}" class="btn btn-primary w-100">Enviar artigo</a>
        
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}